*{
    box-sizing: border-box;
}


body{
    background:white;
    margin: 0 ;
    font-family: poppins;
    height: 80%;
    
}



.Maincalss-div{
    display: flex;
    justify-content: space-between;
   align-items: center;
   padding: 0px 15px;
   background: white;
}

.formhut-logo{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    display: flex;
align-items: center;
letter-spacing: 0.02em;
color: #2F66F6;
}
.navmenu{
    width: 1000px;
    margin: 0 auto;
}

nav{
    background: white;
    /* box-shadow: 0 0 15px 0 rgba(0 , 0, 0, .10); */
}

.navmenu-main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: poppins;
    font-size :16px; 
    font-weight: 400;    
    gap: 60px;
    letter-spacing: 2px;
}

nav ul{
    margin: 0;
    padding: 0;
    position: relative; 
    text-align: center;
    font-family: poppins;
    font-size :16px; 
    font-weight: 400;
    
}

nav li{
display:inline-block
} 
nav a{
    color: black;
    text-decoration: none;
    display: block;
    padding:,75em 1.75em;
}
nav li:hover{
    background:#c2d3fd;    
}
nav li:hover a{
    color:white;    
}

.navmenu-sub{
    position: absolute;
    background: #2F66F6;
    color:white;
    width: 11% ;
    display: none;
    letter-spacing: 2px;
    gap: 20px;
    border: 1.5px solid black;

}
nav li:hover .navmenu-sub{
    display: block;
    

}

.navmenu-sub li{
    display:block;
}


.login-started{
    display: flex;
    justify-content:left;
    align-items: center;
    font-family: poppins;
    font-size :16px; 
    font-weight: 400;
    width:20% ;
    gap: 4px;
    text-align: center;
    
}

.loginbtn{
    /* background: #2F66F6; */
    padding:9px 25px;
    width: 50%;
    border: 1px solid black;
    border-bottom-right-radius: 8px;
   
   }
.get-startedbtn{
    background: #2F66F6;
    padding:10px 25px;
    width: 50%;
    border-bottom-right-radius: 8px;
 
}

.loginbtn a{
    text-decoration: none;
    color: black;
}
.get-startedbtn a{
    text-decoration: none;
    color: aliceblue;
}
/* styling for the body */

.mainsub-div{
    width: 60%;
    height:30% ;
    margin:auto;
}

.mainlime{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 70px; 
}

.Lime001 a{
padding-left: 600px;
}

.Lime01{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: poppins;
    font-weight: 600;
    letter-spacing:0.04em ;
    line-height: 50px;
    margin-top:15px ;
    margin-bottom: 30px;
     

}


.orange111{
    display:flex;
    padding-left:25px;
    padding-top:10px;
    gap:20px;
}

.lime11{                    
    width: 576px;
    height: 75px;
    background: white;
    margin-top:5px;
    margin-bottom:15px;
    margin: left 20px;;
    font-family: Poppins;
    font-size: 16px;
    font-weight:400;
    font-style:light;
    letter-spacing: 0.035em;
    color: black;
    cursor: pointer;
    border-radius:15px;        
border: 0.5px solid #908F8F;                             
        }
    
        .lime22{
          
           
            width: 576px;
            height: 75px;
            background: white;
            margin-top:35px;
            margin-bottom:15px;
            font-family: Poppins;
            font-size: 16px;
            font-weight:400;
            font-style:light;
            letter-spacing: 0.035em;
            color: black;
            cursor: pointer;
            border-radius:15px;        
        border: 0.5px solid #908F8F;
    }
    p {
        width: 570px; 
        text-align: center; 
        border-bottom: 3px solid#e6eaf2; 
        line-height: 0.1em;
        margin-top: 40px;
        font-weight: 400;
        
     } 

     .grape{  
        text-align: left;
        border-style: none;
        width: 576px;
        height: 75px;
        background: #2f66f6;
        margin-top:35px;
        margin-bottom:15px;
        font-family: Poppins;
        font-size: 16px;
        font-weight:400;
        font-style:light;
        letter-spacing: 0.035em;
        color: black;
        cursor: pointer;
        border-radius:15px;}

     .orange{
        display:flex;
        justify-content:center;
        font-family:Poppins;
        font-weight: 400;
        font-style:light;
       font-size: 16px;
       letter-spacing: 0.02em;
       margin-bottom: 150px;
       }
       a{
           text-decoration:none;
       color: #2f66f6;
       }
     
     p span { 
         background:#fff; 
         padding:0 50px; 
             }

    
