* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* :root {
  --primary-color: #e1d5cc;
  --secondary-color: #cce1e0;
  --tetiary-color: #cccee1;
}
button:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 0.9375rem;
  background: white;
}

header h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  color: #e1d5cc;
}
.header-buttons {
  margin-left: 1.3125rem;
}
.header-login-btn {
  width: 9.5rem;
  height: 3rem;
  border-radius: 0 0 .5rem 0;
  padding: .75rem 1.25rem .75rem .75rem;
}
.log-in {
  border: 1px solid var(--primary-color);
  background: white;
}
.get-started {
  color: black;
  background: var(--primary-color);
  border: none;
}
.dropbtn svg {
  margin-left: 0.755rem;
}

.nav-links {
  display: flex;
  margin-left: 1.3125rem;
  gap: 0.5rem;
  font-style: normal;
  font-weight: 300;
  font-size: .875rem;
}
.nav-links button {
  border: none;
  background: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  width: 7.7813rem;
  height: 2.5rem;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: .75rem 1rem;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
} */
.mainoverall{
  width: 1200px;
  height: 1040px;
  justify-content: center;
  position: absolute;
}

/* style for the main Div */
.overall_login {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  padding: 32px 312px 48px;
  gap: 16px;
  position: absolute;
  width: 1200px;
  height: 840px;
  left: 120px;
  top: 96px;
  background:#fafaff;}

    /* style for top cancel- button */
  .cancelbottom{
    width:576px;
    height:32px;
    top: 32px;
    align-items:center;
    padding: 50px;
    display:flex;
    justify-content:right;
      }

      /* style for the Welcome */
h1 {
  font-family: poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  line-height: 83%;
  text-align: Center;  
  letter-spacing: 0.02em;  
  width: 544px;
  height: 40px;
}
/* style for the first <p>*/
.firstpg {
  width: 560px;
  height: 32px;
  font-family: Poppins;
  font-style: light;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: Center;
  letter-spacing: 0.04em;
  color: #000000;
  margin-top:15px;
  margin-bottom:30px;
  /* flex: none;
  order: 0;
  flex-grow: 1; */
}

/* style for the second <p> */
.secondpg {
  width: 576px;
  height: 24px;
  font-family: Poppins;
  font-style: light;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: Center;
  letter-spacing: 0.02em;
  color: #262627;
  flex: none;
  order: 0;
  flex-grow: 1;
  margin-bottom:10px;
}

/* .famg {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 576px;
  height: 160px;
} */


/* style for the main logos Div */
.Login_options {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  gap: 32px;
  width: 576px;
  height: 128px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
 /* style for the logos Div */
.Login_with{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
/* padding: 24px 16px; */

gap: 16px;
width: 116px;
height: 112px;
border: 0.5px solid #908F8F;
border-radius: 16px;
flex: none;
order: 0;
flex-grow: 1;
font-family:poppins;
}

.indigo{
    color:black;
    padding: 50px;
    text-align:center;
    font-family:poppins;
    line-height: 35px;
    

}

span{
    
    display: flex;    
    height: 19px;      
    font-family: 'Poppins';    
    font-size: 16px;
    font-style:normal;
    font-weight:300;
    line-height: 16px;        
    text-align: center;
    letter-spacing: 0.04rem;
    gap:50px;
    margin-top:35px;
    margin-bottom:15px;
}
   span:before, 
    span:after { 
        content: ""; 
        flex: 1 1; 
        border-bottom: 2px solid #908F8F; 
        margin: auto; 
    } 

/* style for the email and password */
.boxes{
     gap: 8px;     
     width: 100%; 
     height: 25%;  
}
.boxx{
    font-family: Poppins;
    font-size: 16px;
    font-style:normal;
    font-weight:400;
}

.light1{
padding: 24px 16px;
width: 576px;
height: 64px;
background: #F8F5F3;
border-radius: 6px;
border-style: none;
margin-bottom: 10px;


}
.light2{
padding: 24px 16px;
width: 576px;
height: 64px;
background: #F8F5F3;
border-radius: 6px;
border-style: none;}

 /* style for the login */
.click{  
text-align: center;
border-style: none;
width: 576px;
height: 56px;
background: #E1D5CC;
margin-top:35px;
margin-bottom:15px;
font-family: Poppins;
font-size: 16px;
font-weight:400;
font-style:light;
letter-spacing: 0.035em;
color: #F8F5F3;
cursor: pointer;
}
/* style for the bottom sign */
.bottom{
 font-family:Poppins;
 font-weight: 400;
 font-style:light;
font-size: 16px;
letter-spacing: 0.02em;
}
a{
    text-decoration:none;
color: #E1D5CC;
}

/* footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  background: #f6fcfb;
}
.newsletter-reg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75rem;
  background: var(--tetiary-color);
  padding: 1.5rem;
  border-radius: 0.75rem;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
.newsletter-reg h4,
p {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.02em;
}
.form-div {
  width: 28.5625rem;
  padding: 0.375rem;
  padding-left: 1.5rem;
  background: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .75rem;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-div svg {
  margin-right: 0.5rem;
}

.form-div form label {
  margin-right: 0.5rem;
}

.form-div form input {
  border: 0.0625rem solid;
  height: 2.25rem;
}

.form-div input {
  border: none;
  background: var(--secondary-color);
  width: auto;
  height: 2.25rem;
}
.form-div form button {
  padding: 0.4688rem 1.2188rem;
  background: var(--primary-color);
  border-radius: 0.5rem;
  width: 5.875rem;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: black;
  margin-left: 0.25rem;
}
.footer-links {
  display: flex;
  padding: 0 1.5rem;
  width: 75rem;
  height: 26rem;
  gap: 4rem;
  margin: auto;
}

.link-div {
  width: 11.2rem;
}

.link-div h5 {
  margin-bottom: 2rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.035em;
  color: var(--tetiary-color);
}
.jot-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.02em;
}
.jot-form a {
  padding: 0.5rem 0;
  text-decoration: none;
}
.app-link {
  display: flex;
}
.app-download {
  margin-top: 2rem;
}
.app-download img {
  width: 100%;
}
.app-download img:hover {
  cursor: pointer;
}
.app-download a {
  text-decoration: none;
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75rem;
  margin: auto;
  padding: 1rem 1.5rem;
}
.copyright p {
  font-style: normal;
  font-weight: 300;
  font-size: .875rem;
  letter-spacing: 0.04em;
}
footer hr {
  width: 90%;
  margin: auto;
} */





