@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: #2F66F6;
  --secondary-color: #FAFAFF;
  --text-color: #262627;
  --text-colour-white: #F5F8FF;
  --body-color: #FAFAFF;
}
  body{
    background: var(--body-color);
  }
  h1,h2,h3,h4,p,a{
    color: var(--text-color);
  }
  button:hover {
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: black;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 5.5rem;                              
    background: var(--body-color);
    padding: 1rem;
  }
  
  header h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    color: var(--primary-color);
    padding: .5rem;
  }
  .dropbtn svg {
    margin-left: 0.755rem;
  }
  
  .nav-links {
    display: flex;
    margin-left: 1.3125rem;
    gap: 0.5rem;
    font-style: normal;
    font-weight: 300;
    font-size: .875rem;
  }
  .nav-links button {
    border: none;
    background: var(--body-color);
  }
  .nav-links button:hover{
    font-weight: bold;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown button{
    background: var(--body-color);
  }
  
  .dropbtn {
    width: 7.7813rem;
    height: 2.5rem;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: .75rem 1rem;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .profile-pic{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.5rem;
    height: 3.5rem;
    padding: 1rem;
    border-left: 0.5px solid #908F8F;
    margin-left: 1.5rem;
}

.pic-background{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  background: lightgray;
  border-radius: 50%;
}

  .create-search-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .edit-search{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .primary-btn{
    height: 3.5rem;
    width: 23rem;
    background: var(--primary-color);
    border: none;
    border-radius: 0 0 .5rem 0;
    color: var(--text-colour-white);
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.035em;
  }
  .edit-search button{
    width: 8.25rem;
    height: 3rem;
    background: var(--primary-color);
    border-radius: .5rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.02em;
    color: var(--text-colour-white);
  }
  .edit-search button svg{
    margin-right: .5rem;
  }
  .search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.5rem;
    width: 13.9375rem;
    height: 3rem;
    background: #FAFAFF;
    border-radius: 6px;
  }
  .search svg{
    margin-right: .625rem;
  }
  .search input{
    border: none;
    background: #FAFAFF;
  }

  .side-column{
    float: left;
    width: 30%;
    height: auto;
    padding: 0px 1rem;
    border: 0.5px solid #CCE1E0;
    gap: 1rem;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  }
  .main-column{
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
  }

  .side-column h1{
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 0.02em;
    color: black;
    text-transform: uppercase;
    padding: 1rem;
  }
  .form{
    padding: 16px 0px;
  }

  .form-buttons{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  .form-buttons button{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 16px 20px 16px 16px;
  }
  .form-buttons button svg{
    margin-right: .625rem;
  }
  .tetiary-btn{
    height: 3.5rem;
    width: 23rem;
    background: white;
    border: 0.5px solid #E1D5CC;
    border-radius: 0 0 .5rem 0;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.035em;
  }
  .teams{
    padding: 1rem 0;
  }
  .teams button{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 368px;
    height: 56px;
    border: 0.5px solid #E1D5CC;
    border-radius: 0px 0px 8px 0px;
    padding: 1rem 1.25rem 1rem 1rem;;
  }
  .teams button svg{
    margin-right: .625rem;
    left: 0;
  }

  .others{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .others{
    padding: 1rem 0;
  }
  .others button{
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 2rem 0;
  }
  .libraries{
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    gap: 1rem;
  }

  .libraries button{
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .libraries button svg{
    margin-right: .625rem;
  }
  .secondary-btn{
    padding: .75rem 1.25rem .75rem 1rem;
    height: 3rem;
    background: var(--body-color);
    border: none;
    height: 3.5rem;
    width: 23rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.035em;
    text-transform: uppercase;
  }
  .create-form{
    width: 31rem;
  }
  .create-form img{
    width: 31rem;
    height: 37.5rem;
    margin-bottom: 1rem;
  }

  .create-form-desc{
    text-align: center;
    gap: .5rem;
    margin-bottom: 1rem;

  }
  .create-form-desc h2{
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 0.02em;
    letter-spacing: 0.02em;
  }
  .create-form-desc p{
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
  }
  .create-form button{
    width: 100%;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    background: var(--primary-color);
  }
  .newsletter-reg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75rem;
    background: #D7D9E4;
    padding: 1.5rem;
    border-radius: 0.75rem;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }
  .newsletter-reg h4,
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.02em;
  }
  .form-div {
    width: 28.5625rem;
    padding: 0.375rem;
    padding-left: 1.5rem;
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .75rem;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-div svg {
    margin-right: 0.5rem;
  }
  
  .form-div form label {
    margin-right: 0.5rem;
  }
  
  .form-div form input {
    height: 2.25rem;
  }
  
  .form-div input {
    border: none;
    background: var(--secondary-color);
    width: auto;
    height: 2.25rem;
  }
  .form-div form button {
    padding: 0.4688rem 1.2188rem;
    background: var(--primary-color);
    border-radius: 0.5rem;
    width: 5.875rem;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    color: var(--text-colour-white);
    margin-left: 0.25rem;
  }
  .footer-links {
    display: flex;
    padding: 0 1.5rem;
    width: 75rem;
    height: 26rem;
    gap: 4rem;
    margin: auto;
  }
  
  .link-div {
    width: 11.2rem;
    color: var(--text-colour-white);
  }
  
  .link-div h5 {
    margin-bottom: 2rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.035em;
    color: var(--tetiary-color);
  }
  .jot-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.02em;
  }
  .jot-form a {
    padding: 0.5rem 0;
    text-decoration: none;
    color: var(--text-colour-white);
  }
  .app-link {
    display: flex;
  }
  .app-download {
    margin-top: 2rem;
  }
  .app-download img {
    width: 100%;
  }
  .app-download img:hover {
    cursor: pointer;
  }
  .app-download a {
    text-decoration: none;
  }
  .copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75rem;
    margin: auto;
    padding: 1rem 1.5rem;
  }
  .copyright p {
    font-style: normal;
    font-weight: 300;
    font-size: .875rem;
    letter-spacing: 0.04em;
    color: var(--text-colour-white);
  }
  footer hr {
    width: 90%;
    margin: auto;
  }